<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Artist</th>
            <th scope="col">Title</th>
            <th scope="col">Label</th>
            <th scope="col">Genre</th>
        </tr>
    </thead>
    <tbody>
        {{#each albums}}
        <tr>
            <th scope="row">{{artist}}</th>
            <td>{{Title}}</td>
            <td>{{Label}}</td>
            <td><a href="albums?genre={{Genre}}">{{Genre}}</a></td>
        </tr>
        {{else}}
        <tr>
            <td colspan="4">No Data Available</td>
        </tr>
        {{/each}}
    </tbody>
</table>