<div class="row">
    <section class="main col-md-9">
        {{#if data.album}}
        <article>
            <h2>{{data.album.Title}}</h2>
            <img src="{{data.album.AlbumCover}}" alt="Album Cover" style="width:100%" />
            <br /><br />
            {{#safeHTML data.album.body}}
            {{/safeHTML}}

            <strong>Artist: </strong> {{data.album.artist}}<br />
            <strong>Label: </strong> {{data.album.Label}}<br />

            <br /><br />
            <strong>Genre: </strong> {{data.album.Genre}}<br />
            <strong>Last Updated: </strong> {{data.album.Released}}

        </article>
        {{else}}
        <div class="col-md-12 text-center">
            <h2>{{data.message}}</h2>
            <p>Please try another Post / Category</p>
        </div>

        {{/if}}

    </section>
    <aside class="col-md-3">
        <br /><br />
        <h4>Albums</h4>

        <ul class="list-group">
            {{#each data.albums}}
            <a href="/music/{{id}}?genre={{../viewingGenre}}" class="list-group-item"> {{Title}}</a>
            {{!-- <a href="/blog/{{id}}?category={{../viewingCategory}}" class="list-group-item">Post {{id}}</a> --}}
            {{/each}}
            {{!-- <a href="#" class="list-group-item">Post 1</a>
            <a href="#" class="list-group-item">Post 2</a>
            <a href="#" class="list-group-item">etc...</a> --}}
        </ul>

        <h4>Genres</h4>

        <ul class="list-group">
            {{#each data.genres}}
            {{!-- <a href="#" class="list-group-item">Genre: {{genre}}</a> --}}
            <a href="/music?genre={{id}}"class="list-group-item">Genre: {{genre}}</a>
            {{/each}}
            {{!-- <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">etc...</a> --}}
        </ul>
    </aside>
</div>